header{
    width: 1865px;
    height: 260px;
    margin: 0 auto;
}

header{
    background-color: black;
}

#header_logo img{
    width: 280px;
    margin: 25px 25px;
}

header h1{
    width: 1070px;
    font-size: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: -230px 0px 0px 350px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

nav {
    width: 1600px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    margin: 40px 0px 0px 260px;
}

nav li {
	display:inline-block;
    font-family: monospace;
}

nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 29px;
	color: white;
    margin: 0px 50px;
    padding-right: 40px;
}

nav li a:hover {
	text-decoration: underline;
}

#exit_button{
    color: white;
    margin: 200px 0px 0px 1360px;
}
