html {
	font-family: serif;
	padding: 0px;
}

#page_container {
	width: 1865px;
	margin: 0 auto;
}

header{
    width: 1865px;
    height: 260px;
    margin: 0 auto;
    background-color: #000000;
}

#header_logo img{
    width: 280px;
    margin: 25px 25px;
}

header h1{
    width: 1400px;
    font-size: 70px;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: -230px 0px 0px 350px;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
    letter-spacing: 3px;
}

nav {
    width: 1600px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    margin: 40px 0px 0px 260px;
}

nav li {
	display:inline-block;
    font-family: monospace;
}

nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 29px;
	color: #FFFFFF;
    margin: 0px 50px;
    padding-right: 40px;
}

nav li a:hover {
	text-decoration: underline;
}

footer{
    margin: 0 auto;
    width: 1865px;
    height: 330px;
    background-color: #000000;
}

#footer_logo img{
    width: 140px;
    margin: 30px 0px 0px 600px;
}

footer h1{
    font-size: 35px;
    color: #FFFFFF;
    margin: -90px 0px 0px 780px;
    letter-spacing: 2px;
}

footer h2{
    color: #FFFFFF;
    font-size: 18px;
    margin: 0px 0px 0px 830px;
    font-family: arial narrow;
    letter-spacing: 1px;
}

#footer_line{
    height: 2px;
    background-color: #FFFFFF;
    width: 850px;
    margin: 40px 0px 0px 490px;
}

footer h3{
    color: #FFFFFF;
    font-size: 23px;
}

footer ul{
    width: 100px;
    list-style: none;
    margin-top: -15px;
}

footer li{
    margin-left: -40px;
}

 footer li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: monospace;
 }

 footer li a:hover{
    text-decoration: underline;
 }

#footer_locations{
    margin: 0px 0px 0px 620px;
}

#footer_us{
    margin: -130px 0px 0px 860px;
}

#footer_more_info{
    margin: -115px 0px 0px 1100px;
}

footer p{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 60px;
}

#vision{
    width: 1865px;
    height: 800px;
    margin: -41px auto;
    color: #FFFFFF;
    background-image: url(Resources/1024px-Waitematā_Harbour_Eastwards_View.jpg);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80.5%, 0 98%);
    border-bottom: 2px solid #FFFFFF;
}

#vision h1{
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
    font-size: 53px;
    z-index: 1;
    letter-spacing: 5px;
}

#vision_line{
    height: 7px;
    width: 290px;
    margin: -35px 0px 0px 785px;
    border-radius: 30%;
    background-color: #FFFFFF;
}

#vision h3{
    width: 650px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin: 40px 0px 0px 620px;
}

#vision p{
    width: 1000px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin: 100px 0px 0px 440px;
}

#waiata{
    margin: -195px auto 0;
    width: 1865px;
    height: 1200px;
    background-image: url(Resources/waiata-background.jpg);
    clip-path: polygon(0 11.7%, 100% 0, 100% 100%, 0 94%);
}

#waiata h1{
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
}

#waiata em{
    color: rgb(0, 173, 226);
}

#waiata h2{
    width: 600px;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.5;
    font-style: oblique;
    margin: 70px 0px 0px 300px;
}

#waiata h3{
    width: 500px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin: -500px 0px 0px 1000px;
    line-height: 3;
}

#welcome{
    margin: -97px auto 0;
    width: 1865px;
    height: 300px;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 23.5%, 100% 100%, 0% 100%);
}

#welcome_logo img{
    width: 300px;
    margin: 50px 0px -200px 70px;
}

#welcome h1{
    text-align: center;
    font-size: 43px;
    color: white;
    margin-top: -15px;
    letter-spacing: 2px;
}

#welcome h2{
    text-align: center;
    width: 400px;
}

#welcome p{
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 2px;
}

#welcome_img img{
    width: 200px;
    border-radius: 50%;
    margin: -200px 0px 10px 1470px;
}

#location_buttons{
    width: 1865px;
    margin: 0 auto -5px;
}

.location_buttons{
    width: 420px;
}

.location_buttons img{
    margin: 0;
    width: auto;
    transition: 0.4s;
    background-size: cover;
    background-position: center;
}

.location_buttons img:hover{
    opacity: 0.3;
    transform: scale(1.1);
}

.location_buttons h1{
    color: #000000;
    position: absolute;
    font-size: 40px;
    margin-top: 400px;
    z-index: 1;
}

#pupuke_button{
    clip-path: polygon(0 0, 95% 0, 110% 100%, 0 100%);
}

#pupuke_button h1{
    margin-left: 90px;
}

#rangi_button {
    margin: -871px 0px 0px 399px;
    clip-path: polygon(0 0, 119% 0, 134% 100%, 15% 100%);
}

#rangi_button h1{
    margin-left: 130px;
}

#waitemata_button{
    margin: -870px 0px 0px 899px;
    clip-path: polygon(0 0, 119% 0, 134% 100%, 15% 100%);
}

#waitemata_button h1{
    margin-left: 90px;
}

#ngati_button{
    margin: -871px 0px 0px 1398px;
    clip-path: polygon(0 0, 111.2% 0, 111.2% 100%, 15% 100%);
}

#ngati_button h1{
    margin-left: 150px;
}

.Gallery{
    width: 1855px;
    margin: -10px auto;
    background-color: #000000;
    padding-bottom: 15px;
    padding-left: 10px;
}

.Gallery h1{
    width: 420px;
    font-size: 80px;
    color: #ffffff;
    margin: 0px 0px 20px 722.5px;
    padding: 40px 0px 10px 0px;
    border-bottom: solid #FFFFFF 5px;
    border-radius: 2%;

}

.Gallery img{
    width: 450px;
}


.thumb{
    padding: 5px 2px 5px 5px;
}

.thumb:hover{
    box-shadow: #b8b8b8 2px 2px 2px 2px;
}

#button-container{
    width: auto;
    margin: 0 auto;
    height: 500px;
}

#pupuke_button {
    background-image: url(Resources/lake_pupuke.jpeg);
}

#rangi_button {
    background-image: url(Resources/Rangitoto_\(1395366679\).jpg);
}
