body{
    margin: 0 auto;
    height: auto;
}

header{
    width: 1865px;
    height: 260px;
    margin: 0 auto;
    background-color: black;
}

#header_logo img{
    width: 280px;
    margin: 25px 25px;
}

header h1{
    width: 1400px;
    font-size: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: -230px 0px 0px 350px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    letter-spacing: 3px;
}

nav {
    width: 1600px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    margin: 40px 0px 0px 260px;
}

nav li {
	display:inline-block;
    font-family: monospace;
}

nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 29px;
	color: white;
    margin: 0px 50px;
    padding-right: 40px;
}

nav li a:hover {
	text-decoration: underline;
}

footer{
    margin: 0 auto;
    width: 1865px;
    height: 330px;
    background-color: black;
}

#footer_logo img{
    width: 140px;
    margin: 30px 0px 0px 600px;
}

footer h1{
    font-size: 35px;
    color: white;
    margin: -90px 0px 0px 780px;
    letter-spacing: 2px;
}

footer h2{
    color: white;
    font-size: 18px;
    margin: 0px 0px 0px 830px;
    font-family: arial narrow;
    letter-spacing: 1px;
}

#footer_line{
    height: 2px;
    background-color: white;
    width: 850px;
    margin: 40px 0px 0px 490px;
}

footer h3{
    color: white;
    font-size: 23px;
}

footer ul{
    width: 100px;
    list-style: none;
    margin-top: -15px;
}

footer li{
    margin-left: -40px;
}

 footer li a{
    color: white;
    text-decoration: none;
    font-family: monospace;
 }

 footer li a:hover{
    text-decoration: underline;
 }

#footer_locations{
    margin: 0px 0px 0px 620px;
}

#footer_us{
    margin: -130px 0px 0px 860px;
}

#footer_more_info{
    margin: -115px 0px 0px 1100px;
}

#vision{
    width: 1865px;
    height: 800px;
    margin: -41px auto;
    background-image: url(Resources/1024px-Waitematā_Harbour_Eastwards_View.jpg);
    transform: rotate(10deg);
    transform-origin: center bottom;
}
#vision_heading h1{
    text-align: center;
    color: white;
    padding-top: 200px;
    font-size: 50px;
    font-family:'Courier New', monospace;
}