html {
	font-family: serif;
	padding: 0px;
}

body{
    position: absolute;
}
/* Make the whole page have width to follow for all sections */
#page_container {
	width: 1865px;
	margin: 0 auto;
}
/* Styling for the header for website, including the logo, heading and nav bar */
header{
    width: 1865px;
    height: 260px;
    margin: 0 auto;
    background-color: #000000;
}

#header_logo img{
    width: 280px;
    margin: 25px 25px;
}

header h1{
    width: 1400px;
    font-size: 70px;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: -230px 0px 0px 350px;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
    letter-spacing: 3px;
}
/* The styling of nav bar in my website's header */
nav {
    width: 1800px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
    margin: 40px 0px 0px 260px;
}

nav li {
	display:inline-block;
    font-family: monospace;
}

nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 29px;
	color: #FFFFFF;
    margin: 0px 50px;
    padding-right: 20px;
}

nav li a:hover {
	text-decoration: underline;
}
/* Footer and all elements within's styling */
footer{
    margin: 0 auto;
    width: 1865px;
    height: 330px;
    background-color: #000000;
}

#footer_logo img{
    width: 140px;
    margin: 30px 0px 0px 600px;
}

footer h1{
    font-size: 35px;
    color: #FFFFFF;
    margin: -90px 0px 0px 780px;
    letter-spacing: 2px;
}

footer h2{
    color: #FFFFFF;
    font-size: 18px;
    margin: 0px 0px 0px 830px;
    font-family: arial narrow;
    letter-spacing: 1px;
}

#footer_line{
    height: 2px;
    background-color: #FFFFFF;
    width: 850px;
    margin: 40px 0px 0px 490px;
}

footer h3{
    color: #FFFFFF;
    font-size: 27px;
}

footer ul{
    width: 100px;
    list-style: none;
    margin-top: -15px;
}

footer li{
    margin-left: -40px;
}

 footer li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
 }

 footer li a:hover{
    text-decoration: underline;
 }

#footer_locations{
    margin: 0px 0px 0px 620px;
}

#footer_us{
    margin: -145px 0px 0px 860px;
}

#footer_more_info{
    margin: -130px 0px 0px 1100px;
}

footer p{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 50px;
}
footer p a{
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
 }

 footer p a:hover{
    opacity: 1;
 }

/* Styling for Our vision section and all the elements inside */
#vision{
    width: 1865px;
    height: 800px;
    margin: -41px auto;
    color: #FFFFFF;
    background-image: url(Resources/1024px-Waitematā_Harbour_Eastwards_View.jpg);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80.5%, 0 98%);
    border-bottom: 2px solid #FFFFFF;
}

#vision h1{
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
    font-size: 53px;
    z-index: 1;
    letter-spacing: 5px;
}

#vision_line{
    height: 7px;
    width: 290px;
    margin: -35px 0px 0px 785px;
    border-radius: 30%;
    background-color: #FFFFFF;
}

#vision h3{
    width: 650px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin: 40px 0px 0px 620px;
}

#vision p{
    width: 1000px;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    margin: 100px 0px 0px 440px;
}
/* Styling for waiata section and all elements inside */
#waiata{
    margin: -195px auto 0;
    width: 1865px;
    height: 1200px;
    background-image: url(Resources/waiata-background.jpg);
    clip-path: polygon(0 11.7%, 100% 0, 100% 100%, 0 94%);
}

#waiata h1{
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;
}

#waiata em{
    color: rgb(0, 173, 226);
}

#waiata h2{
    width: 600px;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.5;
    font-style: oblique;
    margin: 70px 0px 0px 300px;
}

#waiata h3{
    width: 500px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin: -500px 0px 0px 1000px;
    line-height: 3;
}
/* Welcome section in home page styling */
#welcome{
    margin: -97px auto 0;
    width: 1865px;
    height: 300px;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 23.5%, 100% 100%, 0% 100%);
}

#welcome_logo img{
    width: 300px;
    margin: 50px 0px -200px 70px;
}

#welcome h1{
    text-align: center;
    font-size: 43px;
    color: white;
    margin-top: -15px;
    letter-spacing: 2px;
}

#welcome h2{
    text-align: center;
    width: 400px;
}

#welcome p{
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 1.5;
    letter-spacing: 2px;
}

#welcome_img img{
    width: 200px;
    border-radius: 50%;
    margin: -200px 0px 10px 1470px;
}

/* Styling for the four location buttons below welcome section in home page, i have used class in styling these buttons to ensure all four buttons have the consistent layout */
#location_buttons{
    width: 1865px;
    margin: 0 auto -5px;
}

.location_buttons{
    width: 420px;
}

.location_buttons img{
    margin: 0;
    width: auto;
    transition: 0.4s;
    background-size: cover;
    background-position: center;
}

.location_buttons img:hover{
    opacity: 0.3;
    transform: scale(1.1);
}

.location_button_heading{
    transition: 0.6s;
}

.location_buttons :hover .location_button_heading{
    transform: scale(1.3);
}

.location_button_heading{
    color: #000000;
    position: absolute;
    font-size: 40px;
    margin-top: 400px;
    z-index: 1;
    font-family: Lobster;
}

#pupuke_button{
    clip-path: polygon(0 0, 95% 0, 110% 100%, 0 100%);
}

#pupuke_button h1{
    margin-left: 100px;
}

#rangi_button {
    margin: -871px 0px 0px 399px;
    clip-path: polygon(0 0, 119% 0, 134% 100%, 15% 100%);
}

#rangi_button h1{
    margin-left: 140px;
}

#waitemata_button{
    margin: -870px 0px 0px 899px;
    clip-path: polygon(0 0, 119% 0, 134% 100%, 15% 100%);
}

#waitemata_button h1{
    margin-left: 110px;
}

#ngati_button{
    margin: -869px 0px 0px 1398px;
    clip-path: polygon(0 0, 111.2% 0, 111.2% 100%, 15% 100%);
}

#ngati_button h1{
    margin-left: 150px;
}

/* Styling for the gallery in home page */
.Gallery{
    width: 1855px;
    margin: -10px auto;
    background-color: #000000;
    padding-bottom: 15px;
    padding-left: 10px;
}

.Gallery h1{
    width: 530px;
    font-size: 80px;
    color: #ffffff;
    margin: 0px 0px 20px 670px;
    padding: 40px 0px 0px 0px;
    border-bottom: solid #FFFFFF 5px;
    border-radius: 2%;
    font-family: Bodoni Moda SC;
}

.Gallery img{
    width: 450px;
}


.thumb{
    padding: 5px 2px 5px 5px;
}

.thumb:hover{
    box-shadow: #b8b8b8 2px 2px 2px 2px;
}

/* Styling for all four location buttons for page 1 and 2, this makes sure all four Lake pupuke, rangitoto island, ngati paoa and waitemata harbour buttons have a consistent style */
.button-container{
    width: auto;
    margin: 0 auto;
}

.button-container p{
    font-size: 25px;
}

.button-container h1{
    font-size: 50px;
}


.button{
    height: 330px;
    width: 1865px;
    margin:  0px auto 2px;
    background-color: #676767;
    transition: background-image 0.3s ease;
    border-top: 2px solid #ffffff;
    color: #ffffff;
}

#pupuke{
    background-image: url(Resources/info_button_images/pupuke_info_background.jpg);
}

#rangitoto{
    background-image: url(Resources/info_button_images/rangitoto_info_backgorund.jpg);
    margin-top: 10px;
}

#ngati{
    background-image: url(Resources/info_button_images/ngati_info_button_image.jpg);
}

#waitemata{
    background-image: url(Resources/info_button_images/waitemata_info_background.jpg);
}

#pupuke:hover, #rangitoto:hover, #ngati:hover, #waitemata:hover {
    background-image: url(Resources/black_background.png);
    cursor: pointer;
}

.button h1{
    font-size: 65px;
    padding: 150px 0px 0px 30px;
}

.button p{
    font-size: 25px;
    margin: -30px 0px 0px 100px;
}

#pupuke h1{
    margin-left: 30px;
}

/* Overall information panel styling, the layout of all four panels for each location must be consistent*/
.info{
    display: none;
    width: auto;
    height: auto;
    margin: -2px auto;
    background-color: #b8b8b8;
}

.info span{
    font-size: 35px;
    margin: 0px 0px 0px 1780px;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.info span:hover{
    cursor: pointer;
}

/* Lake Pupuke information panel styling */
#pupuke_info {
    padding: 0 0;                                                ;
}
/* Lake pupuke about section styling */
.about_heading{
    width: 135px;
    border-bottom: solid 5px #000000;
    border-radius: 5%;
    margin-left: 100px;
}

#about_pupuke p{
    width: 700px;
    margin-top: 50px;
    margin-left: 100px;
}

#about_pupuke img{
    width: 700px;
    margin: -400px 0px 30px 980px;
}
/* Lake pupuke geology section styling */
#pupuke_geo{
    background-color: #878787;
    margin: 0 auto;
    width: 1865px;
    height: 750px;
    padding-bottom: 30px;
}

#pupuke_geo h1{
    width: 170px;
    font-size: 50px;
    border-bottom: solid 5px #000000;
    border-radius: 5%;
    padding-bottom: 6px;
    margin: 40px 0px 0px 1235px;
    padding-top: 50px;
}

#pupuke_geo p{
    width: 700px;
    margin: 35px 0px 0px 975px;
    text-align: center;
    line-height: 40px;
}

#pupuke_geo img{
    width: 700px;
    margin: -700px 0px 0px 100px;
    padding-bottom: 70px;
}
/* Lake pupuke maori legend section stylings */
#pupuke_legend{
    margin: -33px auto;
    width: 1865px;
    height: 800px;
    background-color: #A1C6CE;
}

#pupuke_legend h1{
    width: 400px;
    border-bottom: solid 6px #000000;
    margin: 0px 0px 0px 720px;
    padding-bottom: 5px;
    padding-top: 20px;
}

#legend_image_1{
    width: 469px;
    margin-top: -88px;
}

#legend_image_2 img{
    width: 485px;
    margin: -685px 0px 300px 1380px;
}

#pupuke_legend p{
    width: 650px;
    text-align: center;
    margin: -600px 0px 0px 600px;
    line-height: 60px;
}
/* Lake Pupuke human use section styling */
#pupuke_use{
    background-color: #ffffff;
    height: 790px;
    width: 1860px;
    margin: 35px auto -10px;
    border: 1px solid #000000;
}

#pupuke_use h1{
    width: 255px;
    border-bottom: 5px solid #000000;
    margin: 0px 0px -15px 800px;
    padding-top: 30px;
}

#pupuke_use_img_1{
    margin-top: 40px;
}

#pupuke_use_info{    
    width: 1800px;
    margin-top: -670px;
}

#pupuke_use_info p{
    position: relative;
    height: 290px;
    margin: -120px 0px 0px 400px;
    padding-top: 50px;
    border-top: 2px solid #000000;
    line-height: 40px;
}

#pupuke_use_info_first p{
    border: none;
} 
/* Rangitoto information panel styling */
#rangi_info{
    width: 1865px;
    height: 4650px;
}
/* Rangitoto island about section styling */
#about_rangi{
    height: 550px;
    width: 1865px;
    padding: 0;
}
#about_rangi img{
    width: 600px;
    padding: 0;
    margin: -440px 0px 150px 1200px;
}

#about_rangi p{
    width: 1000px;
    margin-left: 100px;
    margin-bottom: 70px;
}
/* Rangitoto island maori association section styling */
#rangi_maori h1{
    width: 590px;
    font-size: 75px;
    margin: -350px 0px 0px 650px;
    border-bottom: 5px solid #ffffff;
    color: white;
    position: relative;
}

#rangi_maori p{
    width: 1350px;
    text-align: center;
    margin: 280px 0px 0px 230px;
    padding: 50px;
    font-size: 30px;
    line-height: 50px;
}
/* rangitoto geology section styling */
#rangi_geo{
    width: 1865px;
    height: 2000px;
}

#rangi_geo_top_img img{
    clip-path: polygon(0 0, 100% 0%, 100% 62%, 0 92%);
}

#rangi_geo h1{
    width: 220px;
    font-size: 65px;
    margin-left: 270px;
    margin-top: 80px;
    padding-top: 6px;
    border-bottom: solid 5px #000000;
}

#rangi_geo_1 p{
    width: 1000px;
    margin: -200px 0px 0px 800px;
    text-align: right;
    line-height: 40px;
}

#rangi_geo_2 p{
    width: 700px;
    margin: 80px 0px 0px 80px;
    text-align: left;
    line-height: 40px;
}

#rangi_geo_img2 img{
    width: 900px;
    float: right;
    margin-top: -570px;
    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
}

#rangi_geo_img3 img{
    margin-top: -75px;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
}

#rangi_geo_3 p{
    width: 1600px;
    line-height: 50px;
    margin-left: 100px;
    height: 250px;
    margin-top: 50px;
}

#rangi_geo_line{
    width: 1865px;
    height: 3px;
    background-color: #000000;
}

#rangi_geo_img4 img{
    width: 700px;
    float: right;
    margin-top: -425px;
}

#rangi_geo_4 p{
    width: 900px;
    margin-left: 100px;
    margin-top: 100px;
    line-height: 50px;
}

#rangi_geo_5 p{
    width: 1600px;
    margin: 70px 0px 0px 100px;
    line-height: 50px;
}

/* The ngati paoa's information panel stylings */
#ngati_info{
    width: 1865px;
    margin: 0 auto;
}
/* About ngati paoa section styling */
#about_ngati{
    margin: -50px auto;
    height: 630px;
    padding-top: 25px;
}

#about_ngati p{
    width: 900px;
    margin-left: 100px;
    margin-top: 60px;
}

#about_ngati img{
    width: 600px;
    margin: -400px 0px 0px 1100px;
}

/* Ngati Paoa's history section styling */
#ngati_history{
    width: 1865px;
    height: 1400px;
}

#ngati_history h1{
    width: 440px;
    font-size: 75px;
    margin: -360px 0px 0px 720px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    position: relative;
}


#ngati_history_container{
    line-height: 45px;
    text-align: center;
    margin-top: 300px;
    margin-left: 180px;
}

#ngati_history_container p{
    width: 1500px;
}

.ngati_history_line{
    background-color: #000000;
    height: 2.5px;
    width: 1000px;
    margin: 40px 0px 0px 250px;
}
/* The styling for about waitemata section, addeding space around the texts, making this section look more appealing */
#waitemata_info{
    width: 1865px;
    height: 3400px;
    margin: 0 auto;
}
#about_waitemata {
    width: 1865px;
    height: 430px;
}

#about_waitemata h1{
    width: 135px;
    border-bottom: 5px solid #000000;
    margin-left:870px;
}

#about_waitemata p{
    width: 1500px;
    text-align: center;
    margin-left: 180px;
    line-height: 40px;
}

/* The stylings for etymology section of waitemata harbour */
#waitemata_etymology{
    width: 1865px;
    background-color: #878787;
    height: 600px;
}

#ety_img1 img{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}

#ety_img2 img{
    margin: -605px 0px 19px 0px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

#waitemata_etymology h1{
    width: 345px;
    font-size: 75px;
    margin: -360px 0px 0px 750px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    position: relative;
}

#ety_container{
    margin: 300px 0px 0px 200px;
    width: 1500px;
    text-align: center;
}

#waitemata_etymology p{
    line-height: 50px;
}

/* Waitemata harbour's History section stylings */
#waitemata_history_head_img img{
    margin-top: 420px;
}

#waitemata_history h1{
    width: 240px;
    font-size: 75px;
    margin: -360px 0px 0px 800px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    position: relative;
}

#waitemata_history_p1 {
    width: 1550px;
    text-align: center;
    margin: 340px 0px 0px 175px;
    line-height: 50px;
    padding-bottom: 40px;
    border-bottom: 3px solid #000000;
}

#waitemata_history_img2 img{
    width: 760px;
    margin: 30px 0px 0px 175px;
}

#waitemata_history_p2{
    width: 750px;
    line-height: 60px;
    margin: -530px 0px 0px 980px;
    text-align: center;
}

#waitemata_history_p3{
    width: 1700px;
    line-height: 50px;
    margin: 100px 0px 0px 70px;
    text-align: center;
}